<div class="col-md-8">
	<div class="list-group">
		<h3> {{question1}} {{text}}</h3><br />

			{{#each choices}}
				<p class="list-group-item">{{input type="checkbox" checked=checked}}  {{text}}</p>
			{{/each}}

	</div>
	<div>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<ul id="headNav" class="nav nav-pills pull-left">
					<li><a {{action 'next' this}}>Next</a></li>
				</ul>
			</div>
		</nav>
	</div>
</div>
